#general
*~

# eclipse stuff 
bin/
bin-debug/
bin-release/
.settings/

# SSD MONITOR - qt stuff 
eVSSIM/MONITOR/SSD_MONITOR_PM/Makefile.new
eVSSIM/MONITOR/SSD_MONITOR_PM/form1.cpp
eVSSIM/MONITOR/SSD_MONITOR_PM/form1.h
eVSSIM/MONITOR/SSD_MONITOR_PM/moc_form1.cpp

# QEMU specific
eVSSIM/QEMU/config-host.mak
eVSSIM/QEMU/libhw64/libqemuhw64.a
eVSSIM/QEMU/libqemu_common.a
eVSSIM/QEMU/pc-bios/optionrom/extboot.bin
eVSSIM/QEMU/pc-bios/optionrom/multiboot.bin
eVSSIM/QEMU/qemu-img
eVSSIM/QEMU/qemu-img-cmds.h
eVSSIM/QEMU/qemu-io
eVSSIM/QEMU/qemu-nbd
eVSSIM/QEMU/x86_64-softmmu/fpu/
eVSSIM/QEMU/x86_64-softmmu/gdbstub-xml.c
eVSSIM/QEMU/x86_64-softmmu/libqemu.a
eVSSIM/QEMU/x86_64-softmmu/qemu-monitor.h
eVSSIM/QEMU/x86_64-softmmu/qemu-options.h
eVSSIM/QEMU/x86_64-softmmu/qemu-system-x86_64
eVSSIM/QEMU/x86_64-softmmu/tcg/
eVSSIM/RAMDISK/rd/
eVSSIM/QEMU/x86_64-softmmu/os_img_path.conf
eVSSIM/QEMU/x86_64-softmmu/data/empty_block_list.dat
eVSSIM/QEMU/x86_64-softmmu/data/inverse_block_mapping.dat
eVSSIM/QEMU/x86_64-softmmu/data/inverse_page_mapping.dat
eVSSIM/QEMU/x86_64-softmmu/data/mapping_table.dat
eVSSIM/QEMU/x86_64-softmmu/data/valid_array.dat
eVSSIM/QEMU/x86_64-softmmu/data/victim_block_list.dat
eVSSIM/MONITOR/SSD_MONITOR_PM/form1.o
eVSSIM/MONITOR/SSD_MONITOR_PM/main.o
eVSSIM/MONITOR/SSD_MONITOR_PM/moc_form1.o
eVSSIM/MONITOR/SSD_MONITOR_PM/Makefile.local
eVSSIM/QEMU/hw/data/empty_block_list.dat
eVSSIM/QEMU/hw/data/inverse_block_mapping.dat
eVSSIM/QEMU/hw/data/inverse_page_mapping.dat
eVSSIM/QEMU/hw/data/mapping_table.dat
eVSSIM/QEMU/hw/data/valid_array.dat
eVSSIM/QEMU/hw/data/victim_block_list.dat
