*.o
*.d
*.a
*.bin

# vssim data files
*.dat

# ramdisk
eVSSIM/RAMDISK/rd

# QMake-generated makefiles
eVSSIM/MONITOR/SSD_MONITOR_PM/Makefile
eVSSIM/QEMU/roms/seabios/Makefile
eVSSIM/QEMU/roms/vgabios/Makefile

# monitor executable and files
eVSSIM/MONITOR/SSD_MONITOR_PM/ssd_monitor_p
eVSSIM/MONITOR/SSD_MONITOR_PM/form1.cpp
eVSSIM/MONITOR/SSD_MONITOR_PM/form1.h
eVSSIM/MONITOR/SSD_MONITOR_PM/moc_form1.cpp

# qemu configure-created files
eVSSIM/QEMU/config-host.mak
eVSSIM/QEMU/config-host.h
eVSSIM/QEMU/libhw32/Makefile
eVSSIM/QEMU/libhw64/Makefile
eVSSIM/QEMU/x86_64-softmmu/Makefile
eVSSIM/QEMU/x86_64-softmmu/config.mak
eVSSIM/QEMU/roms/seabios/config.mak
eVSSIM/QEMU/roms/vgabios/config.mak

# qemu executables and files
eVSSIM/QEMU/qemu-img
eVSSIM/QEMU/qemu-img-cmds.h
eVSSIM/QEMU/qemu-io
eVSSIM/QEMU/qemu-nbd
eVSSIM/QEMU/x86_64-softmmu/gdbstub-xml.c
eVSSIM/QEMU/x86_64-softmmu/qemu-monitor.h
eVSSIM/QEMU/x86_64-softmmu/qemu-options.h
eVSSIM/QEMU/x86_64-softmmu/qemu-system-x86_64
eVSSIM/QEMU/libcacard/vscclient

# symlinks
eVSSIM/QEMU/Makefile.target
eVSSIM/QEMU/hw/common.h
eVSSIM/QEMU/hw/ssd_util.h
eVSSIM/QEMU/hw/ftl_type.h
eVSSIM/QEMU/hw/ftl.h
eVSSIM/QEMU/hw/ftl_mapping_manager.h
eVSSIM/QEMU/hw/ftl_inverse_mapping_manager.h
eVSSIM/QEMU/hw/ftl_gc_manager.h
eVSSIM/QEMU/hw/ftl_sect_strategy.h
eVSSIM/QEMU/hw/ftl_obj_strategy.h
eVSSIM/QEMU/hw/ftl_perf_manager.h
eVSSIM/QEMU/hw/ssd_io_manager.h
eVSSIM/QEMU/hw/ssd_log_manager.h
eVSSIM/QEMU/hw/ftl.c
eVSSIM/QEMU/hw/ftl_mapping_manager.c
eVSSIM/QEMU/hw/ftl_inverse_mapping_manager.c
eVSSIM/QEMU/hw/ftl_gc_manager.c
eVSSIM/QEMU/hw/ftl_sect_strategy.c
eVSSIM/QEMU/hw/ftl_obj_strategy.c
eVSSIM/QEMU/hw/ftl_perf_manager.c
eVSSIM/QEMU/hw/ssd_io_manager.c
eVSSIM/QEMU/hw/ssd_log_manager.c
eVSSIM/QEMU/x86_64-softmmu/ssd_monitor
eVSSIM/QEMU/x86_64-softmmu/data/ssd.conf
eVSSIM/QEMU/hw/vssim_config_manager.h
eVSSIM/QEMU/hw/vssim_config_manager.c
eVSSIM/QEMU/hw/uthash.h
eVSSIM/QEMU/hw/ssd.c
eVSSIM/QEMU/hw/ssd.h
eVSSIM/QEMU/hw/ssd_monitor

# unit test files
eVSSIM/tests/test_*.txt
eVSSIM/tests/unit_tests
eVSSIM/tests/sector_tests
eVSSIM/tests/object_tests
eVSSIM/tests/common.h
eVSSIM/tests/ftl.h
eVSSIM/tests/ftl.c
eVSSIM/tests/ftl_gc_manager.h
eVSSIM/tests/ftl_gc_manager.c
eVSSIM/tests/ftl_inverse_mapping_manager.c
eVSSIM/tests/ftl_inverse_mapping_manager.h
eVSSIM/tests/ftl_mapping_manager.c
eVSSIM/tests/ftl_mapping_manager.h
eVSSIM/tests/ftl_obj_strategy.c
eVSSIM/tests/ftl_obj_strategy.h
eVSSIM/tests/ftl_perf_manager.c
eVSSIM/tests/ftl_perf_manager.h
eVSSIM/tests/ftl_sect_strategy.c
eVSSIM/tests/ftl_sect_strategy.h
eVSSIM/tests/ftl_type.h
eVSSIM/tests/ssd.h
eVSSIM/tests/ssd.c
eVSSIM/tests/ssd_io_manager.c
eVSSIM/tests/ssd_io_manager.h
eVSSIM/tests/ssd_log_manager.c
eVSSIM/tests/ssd_log_manager.h
eVSSIM/tests/ssd_monitor
eVSSIM/tests/ssd_util.h
eVSSIM/tests/uthash.h
eVSSIM/tests/vssim_config_manager.c
eVSSIM/tests/vssim_config_manager.h

# osd-osd files
eVSSIM/osc-osd/osd-util/.depend
eVSSIM/osc-osd/osd-target/.depend
eVSSIM/osc-osd/osd-target/tests
eVSSIM/osc-osd/osd-target/osd-schema.c
