[project]
	description = simulator
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group OSW-CI
[access "refs/for/refs/*"]
	read = group OSW-CI
	label-Code-Review = -2..+2 group OSW-CI
	label-Verified = -1..+1 group OSW-CI
[access "refs/heads/*"]
	read = group OSW-CI
	read = group user/jenkinsOSW
	create = group OSW-CI
	push = group OSW-CI
