[project]
	description = simulator
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/davidsaOpenu (davidsaOpenu)
[access "refs/for/refs/*"]
	read = group user/davidsaOpenu (davidsaOpenu)
	push = group user/davidsaOpenu (davidsaOpenu)
	label-Code-Review = -2..+2 group user/davidsaOpenu (davidsaOpenu)
	label-Verified = -1..+1 group user/davidsaOpenu (davidsaOpenu)
	rebase = group user/davidsaOpenu (davidsaOpenu)
	removeReviewer = group user/davidsaOpenu (davidsaOpenu)
	submit = group user/davidsaOpenu (davidsaOpenu)
[access "refs/heads/*"]
	read = group user/davidsaOpenu (davidsaOpenu)
	create = group user/davidsaOpenu (davidsaOpenu)
	push = +force group user/davidsaOpenu (davidsaOpenu)
	pushMerge = group user/davidsaOpenu (davidsaOpenu)
[access "refs/tags/*"]
	push = +force group user/davidsaOpenu (davidsaOpenu)
	pushTag = group user/davidsaOpenu (davidsaOpenu)
	pushSignedTag = group user/davidsaOpenu (davidsaOpenu)
