[project]
	description = simulator
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/davidsaOpenu
[access "refs/for/refs/*"]
	read = group user/davidsaOpenu
	push = group user/davidsaOpenu
	label-Code-Review = -2..+2 group user/davidsaOpenu
	label-Verified = -1..+1 group user/davidsaOpenu
	rebase = group user/davidsaOpenu
	removeReviewer = group user/davidsaOpenu
	submit = group user/davidsaOpenu
[access "refs/heads/*"]
	read = group user/davidsaOpenu
	create = group user/davidsaOpenu
	push = +force group user/davidsaOpenu
	pushMerge = group user/davidsaOpenu
[access "refs/tags/*"]
	push = +force group user/davidsaOpenu
	pushTag = group user/davidsaOpenu
	pushSignedTag = group user/davidsaOpenu
