- name: build qemu
  shell: chmod -R +t . && ./configure --enable-io-thread --enable-linux-aio --target-list=x86_64-softmmu --enable-sdl --enable-vssim --extra-cflags='-Wno-error=unused-but-set-variable -Wno-error=deprecated-declarations {{ extraCflags }}' --cc={{ gcc }} {{ xen }} --disable-docs && bear make
  args:
    chdir: "{{ dest }}/eVSSIM/QEMU"
    creates: "{{ dest }}/eVSSIM/QEMU/x86_64-softmmu/qemu-system-x86_64"
